---
export interface CardProps {
    splineURL?: string;
    animate: string;
    colSpan?: string;
    rowSpan?: string;
    bgColor?:string;
  }
  const { splineURL, colSpan = 'col-span-6', rowSpan = 'row-span-1', animate, bgColor="white" } = Astro.props;
---
<div class={` shadow-xl ${bgColor} rounded-3xl p-2 ${colSpan} ${rowSpan} ${animate} `}>
    {splineURL && <spline-viewer url={splineURL} class="threeD w-full h-full"></spline-viewer>}
    <slot />
</div>
